<!DOCKTYPE html>
<html>
<head>
   <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='stylesheet.css')}}">
   <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <script src = "https://code.highcharts.com/highcharts.js"></script>
   <script src = "https://code.highcharts.com/highcharts-more.js"></script>
   <script src = "https://code.highcharts.com/modules/solid-gauge.js"></script>
</head>

<body>
   <div class="header">
      <div id="title">
         <p>Remote Health Monitoring System</p>
      </div>
   </div>

   <div class="body_container">
      <div id="side_bar">
         <img id="doctor_image" src="{{url_for('static', filename='doctor.png')}}">

         <h1>Welcome </h1>
         <h2 id="name">Mr./Ms. NAME</h2>
         <h2 id="age">Age: #</h2>
         <p id="date" ></p>
         <p id="time" ></p>
         <script src="{{url_for('static', filename='side_bar.js')}}"></script>

         <div id="alarm">
            <img id="alarm_image" src="{{url_for('static', filename='emergency.png')}}">
            <script src="{{url_for('static', filename='emergency_alert.js')}}"></script>
         </div>
      </div>

      <div class="graphs_container"> 
         <div class="graph" id="graph_cholestrol">
            <script src="{{url_for('static', filename='graph_cholestrol.js')}}"></script>
         </div>

         <div class="graph" id="graph_blood_sugar">
            <script src="{{url_for('static', filename='graph_blood_sugar.js')}}"></script>
         </div>

         <div class="graph" id="graph_body_temperature">
            <script src="{{url_for('static', filename='graph_body_temperature.js')}}"></script>
         </div>

         <div class="graph" id="graph_heart_rate">
            <script src="{{url_for('static', filename='graph_heart_rate.js')}}"></script>
         </div>

         <div class="graph" id="graph_blood_pressure">
            <script src="{{url_for('static', filename='graph_blood_pressure.js')}}"></script>
         </div>
      </div>
   </div>
</body>
</html>